<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/msg" method="post" >
        <label for="msg" >Send message</label>
        <input type="text" name="msg" id="msg" placeholder="Write message">
        <label for="cars">send to :</label>
        <select name="receiver" id="receiver">
            <option value="maya">maya</option>
        </select>

        <button type="submit"> send </button>
    </form>
    
</body>
</html>